@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body,html{
    font-family: 'Poppins';
  }

  body{
    background-size:100%;
    background-image: url('imagens/nuvem.svg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    max-width: 1500px;
    max-height: 800px;
    object-fit: cover;
    object-position: center;
  }

  main{
    display:grid;
    place-items: center; 
  }

  .container{
    display:grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    animation: has-shown 2s forwards;
  }

  @keyframes has-shown{
    from{
      opacity:0;
      transform:translateY(40px);
    }
    to{
      opacity:1;
      transform:none;
    }
  }
  
  .container-primeira-imagem{
    position:absolute;
    width: 800px;
    height: 664px;
    left: 450px;
    top: 190px; 
  }

  .avatar{
    display:flex;
    flex-direction:column;
  }

  .avatar>img{
    position: absolute;
    width: 171px;
    height: 193px;
    left: 940px;
    top: 264px;
    transform: translatey(0px);
    animation: float 2s ease-in-out alternate infinite; 
  }

  @keyframes float{
    to{
        transform: translatey(20px);
    }
  }

  .conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 492px;
    height: 111px;
    left: 780px;
    top: 533px;
  }

  .conteudo-escrito-titulo{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 38px;
    color: #414040;
  }

  .conteudo-escrito-subtitulo{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    color: #414040;
  }

  a {
    
    text-decoration: none;
    margin-top:auto;
    display: flex;
    gap: 0.80rem;
    justify-content: center;
    align-items: center;
  }

  ul {
    margin-top:auto;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content:center;
  }
  .github{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 789px;
    top: 700px; 
  }
  .behance{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 884.67px;
    top: 700px;
  }
  .instagram{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 979.33px;
    top: 700px;
  }
  .twitter{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1076px;
    top: 700px;
  }
  .linkedin{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1170.67px;
    top: 700px;
  }
  



  

  