@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body,html{
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
  }

  body{
    background-size:100%;
    background-image: url('imagens/nuvem.svg');
    background-repeat: no-repeat;
  }

  main{
    display:grid;
    place-items: center;
  }

  .container{
    display:grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
  }

  .container-primeira-imagem{
    position: absolute;
    width: 800px;
    height: 664px;
    left: 410px;
    top: 208px;
  }

  .avatar{
    display:flex;
    flex-direction:column;
  }

  .avatar>img{
    position: absolute;
    width: 171px;
    height: 193px;
    left: 874px;
    top: 264px;
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite; 
  }

  @keyframes float{
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translatey(-30px);
    }
    100%{
        transform: translatey(0px);
    }
}

  .conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 492px;
    height: 111px;
    left: 714px;
    top: 533px;
  }

  .conteudo-escrito-titulo{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 38px;
    color: #414040;
  }

  .conteudo-escrito-subtitulo{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    color: #414040;
  }

  a {
    
    text-decoration: none;
    margin-top:auto;
    display: flex;
    gap: 0.80rem;
    justify-content: center;
    align-items: center;
  }

  ul {
    margin-top:auto;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    
  }
  .github{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 723px;
    top: 720px;
  }
  .behance{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 821.67px;
    top: 720px;
  }
  .instagram{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 920.33px;
    top: 720px;
  }
  .twitter{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1019px;
    top: 720px;
  }
  .linkedin{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1117.67px;
    top: 720px;
  }



  

  